<section id="big-navbar" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a ng-href="#/home" class="logo"><b>Aviaricious</b></a>
            <!--logo end-->

            <div class="top-menu">
              <ul class="nav pull-right top-menu">
                    <li><a class="logout" ng-href="#" ng-show="user" ng-click="logout()">Logout</a></li>
                    <li><a class="logout" ng-href="#/signin" ng-show="!user">Sign in</a></li>
              </ul>
            </div>
        </header>
      <!--header end-->

      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

                  <!-- <p class="centered"><a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p> -->
                  <!-- <h5 class="centered">Marcel Newman</h5> -->

                  <li class="mt">
                      <a class="active" ng-href="#/home">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>Find a bird</span>
                      </a>
                      <ul class="sub">
                          <li><a  ng-href="#/birds?name=common_name">by common name</a></li>
                          <li><a  href="#/birds?name=scientific_name">by scientific name</a></li>
                      </ul>
                  </li>

                  <li>
                      <a ng-href="#/game" id="bring-me-to-game">
                          <i class="fa fa-gamepad"></i>
                          <span>Game</span>
                      </a>
                  </li>

                  <li>
                      <a ng-href="#/favorites" >
                          <i class="fa fa-heart"></i>
                          <span>Favorites</span>
                      </a>
                  </li>


              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
    </section>

