<section id="main-content">
  <section class="wrapper">
    <div class="row">
    <div class="col-md-9 col-md-offset-1">
        <a ng-href="/">home</a>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="birdSearch" ng-change="setFilter()" placeholder="Find a bird"/>
        </div>

        <div infinite-scroll='loadMore()'>
          <div class="row" ng-repeat="bird in birds | filter: birdFilter | limitTo: numShown" class="bird">
            <div ng-include src=" 'views/_bird.html' "></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
