<section id="main-content">
  <section class="wrapper">
    <div class="row" id="favorites-page">
      <div class="col-md-8 col-md-offset-2 text-center">
      <h1>Game</h1>
      <h3>Favorite birds so you can play with them!</h3>
       <div class="row">
        <audio id="bird-song" ng-src="{{song}}" autoplay></audio>
        <div class="col-md-6">
        <span class="img-holder">
          <div class="fav-bird" data-id="0" ng-click="pick($event)" style="background-image: url('{{four[0].photo_url}}');">
          </div></span>
        </div>
        <div class="col-md-6">
        <span class="img-holder">
          <div class="fav-bird" data-id="1" ng-click="pick($event)" style="background-image: url('{{four[1].photo_url}}');">
         </div></span>
        </div>
       </div>
       <div class="row">
        <div class="col-md-6">
        <span class="img-holder">
          <div class="fav-bird" data-id="2" ng-click="pick($event)" style="background-image: url('{{four[2].photo_url}}');">
          </div></span>
        </div>
        <div class="col-md-6">
        <span class="img-holder">
          <div class="fav-bird" data-id="3" ng-click="pick($event)" style="background-image: url('{{four[3].photo_url}}');">
          </div></span>
        </div>
       </div>
      </div>
    </div>
  </section>
</section>
