<!-- <section id="main-content"> -->
  <section class="wrapper">
    <div class="row">
      <div class="col-md-9 col-md-offset-1">
        <!-- <div class="form-group"> -->
          <h3 class="text-center">Recent nearby observations</h3>
        <!-- </div> -->
          <div class="row">
            <div class="col-md-6">
              <div class="btn-group distance-group"><p>Distance (km)</p>
                <input type="button" value="5" ng-click="selectDistance(5)" ng-class="{'btn': true, 'btn-default': true, 'active': isSelected(5)}"></input>
                <input type="button" value="10" ng-click="selectDistance(10)" ng-class="{'btn': true, 'btn-default': true, 'active': isSelected(10)}"></input>
                <input type="button" value="20" ng-click="selectDistance(20)" ng-class="{'btn': true, 'btn-default': true, 'active': isSelected(20)}"></input>
                <input type="button" value="30" ng-click="selectDistance(30)" ng-class="{'btn': true, 'btn-default': true, 'active': isSelected(30)}"></input>
              </div>
            </div>
            <div class="col-md-6">
              <div class="btn-group notable-group"><p>selection</p>
                <button type="button" ng-click="selectNotable(true)" ng-class="{'btn': true, 'btn-default': true, 'active': notableOnly}">Notable</button>
                <button type="button" ng-click="selectNotable(false)" ng-class="{'btn': true, 'btn-default': true, 'active': !notableOnly}">All birds</button>
              </div>
            </div>
          </div>
        <div infinite-scroll='loadMore()'>
          <div class="row" ng-repeat="observation in observations | limitTo: numShown" class="observations">
            <div ng-include src="'views/_observation.html' "></div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- </section> -->
