.thumb-img {
  padding: 0;
  margin: 0 -2px 0 -2px;
  display: inline-block;
  height: 130px;
  width: auto; }
  .thumb-img img {
    margin-top: -15px;
    height: 180px;
    width: 180px;
    margin-left: -14px; }

.panel {
  padding: 0;
  margin: 0; }
